[Unit]
Description=OliveTin

[Service]
ExecStart=/usr/local/bin/OliveTin --configdir /etc/OliveTin/
User=go1user
Restart=always

[Install]
WantedBy=multi-user.target
